<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Планировщик</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

	<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form class="modal-content" method="POST" action="/api/auth/login">
				<div class="modal-header text-center">
					<h4 class="modal-title w-100 font-weight-bold">Войти</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					<div class="md-form mb-3">
						<input placeholder="Email" type="email" name="email" class="form-control" required>
					</div>
					<div class="md-form mb-3">
						<input placeholder="Пароль" type="password" name="password" class="form-control" required>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<input type="submit" class="btn btn-success" value="Войти">
					<button class="btn btn-info" id="register-button">Создать аккаунт</button>
				</div>
			</form>
		</div>
	</div>

	<div class="modal fade" id="modalRegistrationForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form action="/api/auth/register" method="POST" class="modal-content">
				<div class="modal-header text-center">
					<h4 class="modal-title w-100 font-weight-bold">Создать новый аккаунт</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					<div class="md-form mb-3">
						<input placeholder="Имя" type="text" name="reg-name" class="form-control">
					</div>
					<div class="md-form mb-3">
						<input placeholder="Email" type="email" name="reg-email" class="form-control">
					</div>
					<div class="md-form mb-3">
						<input placeholder="Пароль" type="password" name="reg-password" class="form-control">
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<input type="submit" class="btn btn-info" value="Зарегистрироваться">
				</div>
			</form>
		</div>
	</div>

	<div class="container">
		<form id="create-plan" action="/api/plans" class="row" enctype="multipart/form-data">
			<div class="col-md-12" align="center">
				<h1>Планировщик</h1>
			</div>
			<div class="col-md-4">
				<label for="plan-title">Название</label>
				<input type="text" id="plan-title" class="form-control" placeholder="Название" required>
			</div>
			<div class="col-md-4">
				<label for="plan-deadline">Дата окончания</label>
				<input type="date" id="plan-deadline" class="form-control" required>
			</div>
			<div class="col-md-4">
				<label for="plan-file">Файл</label>
				<input type="file" class="form-control" id="plan-file">
			</div>
			<div class="col-md-12">
				<label for="plan-content">Содержание</label>
				<textarea class="form-control" placeholder="Опишите заметку" id="plan-content" rows="3" required></textarea>
			</div>
			<div class="col-md-12">
				<input class="btn btn-success create-input" type="submit" value="Создать">
			</div>
		</form>
		<div id="sort">
			<span>Отсортировать: </span>
			<select style="display: inline; width: 200px;" class="custom-select custom-select-sm">
				<option value="Все" selected>Все</option>
				<option value="Не прочитано">Не прочитано</option>
				<option value="В процессе">В процессе</option>
				<option value="Сделано">Сделано</option>
			</select>
		</div>
		<div id="plan-list" class="row">

		</div>
	</div>

	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>

</body>
</html>